@page "/"

<PageTitle>Jeux Olympique de Paris 2024</PageTitle>


<!-- Le menu de navigation est inclus ici -->
<Navigation /> 


<!-- Header -->   
    <RadzenHeader class="rz-header" style="grid-area: rz-header; max-width: 100%;">
    <div class="header-overlay"></div> <!-- Voile noir -->
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
        <RadzenColumn Size="12" SizeSM="12">
            <RadzenImage class="header-image" Path="images/sports/WaterPolo.jpg" AlternateText="Header-Water-Polo" ></RadzenImage>
        </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>

    <RadzenText class="header-Titre"> Journée olympique : bougeons et<br/> célébrons un été sportif à Paris ! </RadzenText>
    <RadzenText class="header-SousTitre"> Ensuite: Venez célébrer la magie de la Flamme Olympique aux côtés de Santa et Bianca Costa le 21 juin 2024 au Coca-Cola® Music Tour </RadzenText>  

<!-- Body -->
<RadzenRow Gap="5" RowGap="5" class="container" id="sports-section">
    <RadzenColumn class="titres" Size="12">
        <RadzenText class="titre" Text="Paris 2024 Sports olympiques" TagName="Radzen.Blazor.TagName.Auto"></RadzenText>
        <RadzenText class="sous-titre" Text="AUTOUR DES JEUX" TagName="Radzen.Blazor.TagName.H2"></RadzenText>
    <hr class="long-hr" />
    </RadzenColumn>

    <!-- Première carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenImage class="card-image" Path="images/sports/Athletisme.webp" AlternateText="Athlétisme"></RadzenImage>
                    <div class="card-body">  
                    <RadzenText class="card-title" Text="Athlétisme" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="L’athlétisme est le sport le plus ancien dont nous avons des traces, puisqu’il apparaît dès les Jeux Olympiques de l’Antiquité. Il est possible de trouver les champions d’athlétisme depuis 776 avant J-C. A l’époque, les Jeux Olympiques antiques comprennent des épreuves telles que des courses à pied et un pentathlon composé d’épreuves s’apparentant à une course, un saut en longueur, un lancer de disque, de la lutte et un lancer de javelot. Les premiers rassemblements modernes pouvant s’apparenter à des compétitions d’athlétisme ont lieu en Angleterre en 1840, dans le Shropshire. Ces championnats se développent et se multiplient dans les années 1880, ils prennent place initialement en Angleterre, aux USA et en Europe notamment. En 1912, la fédération internationale gérant les compétitions internationales d’athlétisme, l’IAAF (aujourd’hui World Athletics), est créée." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                    </div>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

    <!-- Deuxième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">              
                    <RadzenImage class="card-image" Path="images/sports/TirALArc.webp" AlternateText="Tir à L'Arc"></RadzenImage> 
                     <div class="card-body">             
                    <RadzenText class="card-title" Text="Tir à L'Arc" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="Le tir à l’arc est l’un des sports les plus anciens de l’humanité, puisqu’il s’est développé en même temps que la civilisation humaine, initialement en tant qu’instrument pour la chasse et la guerre. Dès 1200 avant J-C, Hitties et Assyriens se munissaient de flèches et d’arcs sur le champ de bataille. Les premiers tournois connus se déroulèrent en Chine, entre 1027 et 256 avant J-C sous la dynastie des Zhou. En 1931, le sport se structure au niveau international, et une fédération internationale est créée, devenue aujourd’hui World Archery." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                    </div>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

    <!-- Troisième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">              
                    <RadzenImage class="card-image" Path="images/sports/Judo.jpg" AlternateText="Judo"></RadzenImage>
                     <div class="card-body">  
                    <RadzenText class="card-title" Text="Judo" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="Le judo est un art martial, dérivé du jujitsu, créé au Japon par le Dr. Jigoro Kano lorsqu’il ouvre son premier dojo en 1882. Judo signifie en japonais « voie de la souplesse », mais ce sport de lutte traditionnel ne se limite pas à cela, et demande un investissement physique considérable. Jigoro Kano allie aux principes philosophiques du judo une rigueur physique, morale et intellectuelle, tout en retirant de son art les aspects jugés dangereux du jujitsu. Le judo s’exporte en Europe et notamment en France vers la moitié du 20e siècle, et devient le premier art martial à se démocratiser hors des frontières japonaises." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                   </div>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

    <!-- Quatrième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenImage class="card-image" Path="images/sports/GymnastiqueArtistique.webp" AlternateText="Gymnastique Artistique"></RadzenImage>
                     <div class="card-body">  
                    <RadzenText class="card-title" Text="Gymnastique Artistique" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="La Fédération Internationale de Gymnastique artistique est la plus ancienne des organisations sportives internationales au monde : elle a vu le jour en 1881. Et pour cause, la gymnastique est un sport très ancien, qui a des racines remontant à l’Antiquité. Elle était à l’époque recommandée par les philosophes afin d’allier le développement du corps à celui de l’esprit. Le 19e siècle a marqué le regain en popularité de la gymnastique, les compétitions se multipliant, avec en point d’orgue la rénovation des Jeux Olympiques, à Athènes en 1896." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                 </div>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

     <!-- Cinquième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenImage class="card-image" Path="images/sports/Natation.webp" AlternateText="Natation"></RadzenImage>
                     <div class="card-body">  
                    <RadzenText class="card-title" Text="Natation" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="Aux Jeux Olympiques, les épreuves de natation se déroulent dans un bassin de 50m de long. Il existe quatre types de nage en natation, qui sont courues soit en épreuves individuelles, soit en relais : la brasse, le papillon, le dos et la nage libre, toujours exécutée avec la technique du crawl. Un cinquième type de course, la course de quatre nages, regroupe les quatre précédentes et voit les nageurs enchaîner les quatre types de nages. Les distances varient également, et ne demandent pas les mêmes qualités pour une course de 50m que pour un 1500m. L’explosivité tout comme l’endurance, la puissance et la technique sont des qualités indispensables pour les nageurs." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                 </div>                
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

    <!-- Sixième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">                 
                    <RadzenImage class="card-image" Path="images/sports/SportsEquestres.jpg" AlternateText="Sports Équestres"></RadzenImage>
                     <div class="card-body">  
                    <RadzenText class="card-title" Text="Sports Équestres"></RadzenText>
                    <RadzenText class="card-description" Text="La Fédération Internationale de Gymnastique artistique est la plus ancienne des organisations sportives internationales au monde : elle a vu le jour en 1881. Et pour cause, la gymnastique est un sport très ancien, qui a des racines remontant à l’Antiquité. Elle était à l’époque recommandée par les philosophes afin d’allier le développement du corps à celui de l’esprit. Le 19e siècle a marqué le regain en popularité de la gymnastique, les compétitions se multipliant, avec en point d’orgue la rénovation des Jeux Olympiques, à Athènes en 1896." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                 </div>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

     <!-- Septième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenImage class="card-image" Path="images/sports/Escrime.webp" AlternateText="Escrime"></RadzenImage>
                    <div class="card-body">  
                    <RadzenText class="card-title" Text="Escrime" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="L’escrime trouve ses origines dans le combat d’épée, qui apparaît il y a plusieurs millénaires, puisque des représentations de combattants à l’épée ont été datées de 1190 avant J-C. Plus tard, l’escrime, qui représentait initialement un entraînement militaire, devient un sport sous l’impulsion de maîtres d’armes français, italiens et allemands. Aujourd’hui, l’escrime est un sport d’ampleur mondiale, puisqu’elle s’est développée de manière très compétitive non seulement en Europe mais aussi en Asie, en Océanie, en Amérique et en Afrique, avec 157 fédérations nationales membres de la Fédération internationale d’Escrime." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                 </div>
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

     <!-- huitième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenImage class="card-image" Path="images/sports/Tir-a-la-carabine.jpg" AlternateText="Tir a la carabine"></RadzenImage>
                    <div class="card-body">  
                    <RadzenText class="card-title" Text="Tir" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" TagName="Radzen.Blazor.TagName.H3"></RadzenText>
                    <RadzenText class="card-description" Text="Le tir fait partie des sports historiques des Jeux Olympiques modernes, et est pratiqué depuis plusieurs siècles en Europe. Certains clubs allemands sont vieux de plus de cinq siècles. Plus tard, le tir s’est développé dans les pays anglo-saxons, notamment du fait de la création en 1971 de la National Rifle Association (NRA), aux Etats-Unis. Le tir est aujourd’hui un sport populaire dans le monde entier, puisque plus de 100 nations envoient des athlètes aux épreuves de tir à chaque édition des Jeux Olympiques." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                    </div>                
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>

    <!-- Neuvième carte de sport -->
    <RadzenColumn Size="12" SizeSM="6" SizeMD="4" class="card-column">
        <div class="card-sport">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenImage class="card-image" Path="images/sports/VolleyBall.webp" AlternateText="Volleyball de plage"></RadzenImage>
                <div class="card-body">   
                    <RadzenText class="card-title" Text="Volleyball de plage"></RadzenText>
                    <RadzenText class="card-description" Text="Au début des années 1920, une variante du volleyball apparaît sur les plages californiennes, à Santa Monica, se jouant sur un terrain en sable. Le premier tournoi de volleyball de plage est organisé en 1947, prémices d’un circuit opposant plusieurs centaines de joueurs sur les plages californiennes, lancé dans les années 1950. Dans les années 1980, la première organisation de joueurs professionnels est créée, et le premier tournoi international sous l’égide de la Fédération Internationale de Volleyball (FIVB) a lieu en 1987." TagName="Radzen.Blazor.TagName.P"></RadzenText>
                </div> 
                </RadzenColumn>
            </RadzenRow>
        </div>
    </RadzenColumn>
</RadzenRow>

<Footer /> <!-- Le footer est inclus ici -->

