<!-- Barre de Navigation -->
<div class="rz-barreNavigation">
    <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
        <RadzenColumn Size="4">
            <button class="btn-menu btn-accueil" @onclick="@NavigateToAccueil">Accueil</button>
            <button class="btn-menu" @onclick="@NavigateToBilletterie">Billetterie</button>


        </RadzenColumn>
        <!-- Logo -->
        <RadzenColumn Size="4" class="center-column-header">
            <RadzenLink Path="/" class="center-link">
                <RadzenImage class="logo-Paris2024" Path="images/LogoJO2024white.png" AlternateText="Application logo"></RadzenImage>
            </RadzenLink>
        </RadzenColumn>
        <RadzenColumn Size="4">
            <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">

                @if (isAdmin)
                {
                    <button class="btn-menu" @onclick="@NavigateTableauDeBord">Tableau De Bord</button>
                }

                <button class="btn-menu" @onclick="NavigateToPanier">Panier</button>


                @if (isUserLoggedIn)
                {
                    <button class="btn-menu btn-logout" @onclick="Logout">Déconnexion</button>               
                }
                else
                {
                    <button class="btn-menu btn-login" @onclick="NavigateToLogin">Connexion / Inscription</button>
                }

                @* <button class="btn-menu type="button" @onclick="ScrollToTop">Remonter</button> *@

            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div>