<div id="cookie-banner" class="cookie-banner" style="@(isConsentGiven ? "display:none;" : "display:block;")">
    <p>Nous utilisons des cookies pour améliorer votre expérience. En continuant à utiliser ce site, vous acceptez notre utilisation des cookies.</p>
    <button @onclick="AcceptCookies">Accepter</button>
    <button @onclick="DeclineCookies">Refuser</button>
</div>